.promo-footer {
  position: relative;
  z-index: $base-index - 3;

  margin: -$radius-section 0 0;
  padding: $radius-section + 20px 0;

  background: linear-gradient(21deg, $dark-blue-400, $black-400);
  border-radius: 0 0 $radius-section $radius-section;

  @media #{$tablet} {
    margin: -$radius-section-tablet 0 0;
    padding: $radius-section-tablet + 40px 0 $radius-section-tablet + 20px 0;

    border-radius: 0 0 $radius-section-tablet $radius-section-tablet;
  }

  @media #{$desktop} {
    margin: -$radius-section-desktop 0 0;
    padding: $radius-section-desktop + 40px 0 $radius-section-desktop + 20px 0;

    border-radius: 0 0 $radius-section-desktop $radius-section-desktop;
  }
}

.promo-footer__top-wrap {
  @media #{$tablet} {
    display: flex;
    justify-content: flex-start;
  }
}

.promo-footer__img-wrap {
  position: relative;

  margin: 0 0 4px + 10px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    height: 4px;

    background: linear-gradient(to left, transparent, rgba($black-400, 0.5), transparent);
  }

  @media #{$tablet} {
    flex-shrink: 0;
  }
}

.promo-footer__img {
  width: 250px;
  height: 281px;

  vertical-align: top;

  @media #{$tablet} {
    width: 400px;
    height: 449px;
  }

  @media #{$desktop} {
    width: 520px;
    height: 584px;
  }
}

.promo-footer__description {
  margin: 0 0 20px;

  color: rgba($white-400, 0.6);

  @media #{$tablet} {
    font-size: 28px;
    text-align: left;
  }

  @media #{$desktop} {
    font-size: 38px;
  }
}

.promo-footer__list {
  margin: 0 0 40px;

  font-size: 20px;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-size: 26px;
  }

  @media #{$desktop} {
    font-size: 42px;
  }
}

.promo-footer__item {
  margin: 0 0 10px;
  padding: 10px;

  background-color: rgba($black-400, 0.15);
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgba($black-400, 0.4);

  @include text-shadow;

  &:last-child {
    margin: 0;
  }

  @media #{$tablet} {
    $offset-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 3) - #{$offset-right});
    margin: 0 $offset-right 0 0;
    padding: 20px;

    box-shadow: 8px 8px 0 0 rgba($black-400, 0.4);
  }

  @media #{$desktop} {
    $offset-right: 30px;

    width: calc((100% / 3) - #{$offset-right});
    margin: 0 $offset-right 0 0;
    padding: 30px;

    box-shadow: 8px 8px 0 0 rgba($black-400, 0.4);
  }
}
